/* responsive about page */

/* Medium Devices */

@media only screen and (max-width: 768px) {
  /* HOME PAGE */
  #home-page-hero {
    background-image: url('../img/mountain-01-sm.png');
  }
  #top-hero {
    height: auto;
    margin: 0 !important;
  }
  .moon-wrapper p {
    font-size: 34px !important;
    line-height: 0.5;
  }

  .mountain-message {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  .mountain-title {
    font-size: 22px;
    text-align: center;
    line-height: 0.1;
    margin-top: 20px;
  }
  .mountain-date {
    font-size: 22px;
  }
  .mountain-message {
    margin-top: -10px !important ;
  }

  .btn-home {
    width: 110px;
    font-size: 18px !important;
  }

  .lineup {
    font-size: 18px;
  }
  .lineup-p p {
    font-size: 12px;
  }
  #bottom-hero {
    height: auto !important;
    margin-top: -47px !important;
    padding-bottom: 23px;
  }
  .day-1 h3,
  .day-2 h3 {
    font-size: 16px;
  }
  .day-1,
  .day-2 {
    font-size: 18px;
  }
  #carousel-section-wrapper {
    height: 300px;
  }
  #carousel-section-wrapper .carousel-item img {
    height: 100%;
  }

  .courousel-header {
    border: 3px solid black !important;
  }

  .courousel-header h1 {
    font-size: 24px;
  }

  .courousel-header h5 {
    font-size: 14px;
    margin-top: 0;
  }

  /* TICKET PAGE*/
  .container-frame {
    width: 100% !important;
    padding: 19px !important;
  }
  .left-column-wrapper {
    display: none !important;
  }
  #saturday,
  #sunday,
  #weekend,
  #weekend-vip,
  #order-summary {
    width: 85%;
    margin: auto;
  }

  /* ABOUT PAGE */

  .timeline ul li img {
    cursor: pointer;
  }
  .timeline::before {
    position: absolute;
    left: 52%;
    width: 3px;
    height: 100%;
    transform: translateX(-40%);
    content: '';
    background: black;
  }
  .timeline-header-title {
    font-size: 66px;
  }
  .timeline-header-subtitle {
    font-size: 40px;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translate(-20px);
    border-radius: 100px 0px 20px 20px;
    text-align: end;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translate(20px);
    border-radius: 0px 100px 20px 20px;
  }
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    right: -23px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after {
    left: -23px;
    transform: translate(-50%, -50%);
  }

  .timeline ul li:hover:after {
    background-color: var(--yellow);
    transition: 0.2s;
  }
  .timeline ul li:hover {
    opacity: 100%;
    filter: blur(0px);
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  /* ARTISTS PAGE */
  .left-column-wrapper-yellow,
  .left-column {
    display: none !important;
  }
  .bio-artist {
    font-size: 12px;
  }
}

/* Small Devices */

@media only screen and (max-width: 576px) {
  /*  MUSICIAN PAGE */
  .csslider {
    margin-left: 0 !important;
  }
  /* tickets page */

  .tickets-content {
    padding-bottom: 30px;
  }
  .left-column {
    display: none !important;
  }
}
