:root {
  --white: #ffffff;
  --dark-grey: #222529;
  --beige: #ece6c2;
  --red: #d64f49;
  --dark-green: #1d332c;
  --yellow: #d2a24c;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--dark-grey);
  background: linear-gradient(
    180deg,
    rgba(46, 89, 76, 1) 19%,
    rgba(188, 193, 122, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
}
h5 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
h1 {
  font-family: 'Bebas neue';
  font-weight: bold;
  letter-spacing: 0.1em;
}
p {
  font-family: 'bebas neue';
}
.btn:focus {
  box-shadow: none;
}


/* Agegate page
 */
.logo-round {
  width: 150px;
}
.door-top {
  width: 400px;
  height: 400px;
  margin: auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: var(--dark-grey);
}

.background-dark {
  width: 100%;
  height: 100px;
  background: var(--dark-grey);
}

/* Header start */
nav {
  background-color: var(--dark-grey);
  max-height: 70px !important;
  font-family: mountain-date;
  text-transform: uppercase;
  z-index: 999;
}
.btn-main {
  background-color: var(--beige);
  width: 110px;
  border: 2px solid var(--dark-grey) !important;
  color: var(--dark-grey);
  font-family: 'bebas neue';
  letter-spacing: 0.1em;
}

.btn-ticket {
  background-color: var(--red) !important;
}

.btn-main:hover,
.btn-ticket:hover {
  color: var(--yellow);
  background: black !important;
}
.dropdown-menu {
  background-color: var(--beige);
  font-family: 'bebas neue';
  letter-spacing: 0.1em;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--yellow);
}
/* Header end */

main {
  max-width: 100%;
  min-height: 83vh;
}

/* 
  HOME PAGE START
*/

/* Home page hero start */
#home-page-hero {
  background-image: url('../img/mountain-01.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
}
#top-hero {
  height: 79vh;
}
.moon-wrapper p {
  font-family: plaster;
  font-size: 4vw !important;
  line-height: 0.8;
}
.moon-wrapper .festival {
  font-size: 40px;
}
.mountain-message {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.mountain-title {
  font-family: plaster;
  font-size: 3vw;
  text-align: center;
  line-height: 0.8;
}
.mountain-date {
  font-family: 'bebas neue';
  font-size: 2vw;
  color: var(--beige);
}

.lineup {
  font-family: plaster;
  color: var(--beige);
  font-size: 3vw;
}
.lineup-p p {
  font-family: 'bebas neue' !important;
}
#bottom-hero {
  height: 80vh;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgba(46, 89, 76, 0.3) 19%,
    rgba(29, 51, 44, 1) 100%
  );
}

.day-1,
.day-2 {
  color: var(--beige);
  font-family: 'bebas neue';
  font-size: 18px;
}

/* Hero end */

/* gallery section starts*/

#carousel-section-wrapper {
  background-color: var(--dark-green);
  height: 600px;
}

.courousel-header {
  background-color: var(--beige);
  border: 3px solid black !important;
}

.courousel-header h1 {
  font-size: 2.5em;
}

/* gallery ends */

/*
  HOME PAGE END
*/

/*
TICKETS PAGE STARTS
 */
#tickets-section {
  min-height: 60vh;
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url(../img/WDCSS-Backgrond2-a-01.png);
  background-position: center center;
  background-size: cover;
}

.container-frame {
  width: 70%;
  margin: auto;
}

.ticket-title {
  border: 3px solid black !important;
  background: var(--beige);
}
.ticket-subtitle {
  border: 3px solid black !important;
  background: var(--beige);
  border-bottom: none !important;
}

.tickets-price-wrapper {
  background-color: var(--beige);
  border: 3px solid black !important;
  height: 600px;
}
.left-column-wrapper {
  border: 3px solid black !important;
  border-right: none !important;
  height: 600px;
  background-color: var(--yellow);
}

.text-description p {
  font-size: 14px;
  line-height: 1.5;
}

#saturday,
#sunday,
#weekend,
#weekend-vip,
#order-summary {
  width: 70%;
  margin: auto;
}
.day-title h5 {
  background: var(--yellow);
  font-size: 18px;
  border-bottom: #222529 solid;
}

#order-summary a {
  background: var(--yellow);
}
.counter {
  min-width: 30px !important;
}

/* PAYMENT PAGE STARTS */

.wrapper {
  padding: 5rem !important;
}
.card-header,
.card-body {
  background-color: var(--beige);
  font-family: 'bebas neue';
  letter-spacing: 0.1em;
}

.card-body input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-control:focus {
  box-shadow: 0.5px 0px 0px 0px #fff !important;
  border-color: var(--yellow);
}
/*
ABOUT PAGE STARTS
 */
#about-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/mountain-01-01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-header {
  text-align: center;
  box-sizing: border-box;
  height: auto;
  background-image: url(../img/carousel-1-01.jpg);
  background-size: 100%;
  background-size: cover;
}
.timeline-header-title {
  color: white;
  font-size: 40px;
  text-shadow: #222529;
  font-family: 'bebas neue';
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

.timeline-header-subtitle {
  color: white;
  font-family: 'bebas neue';
  font-size: 30px;
  letter-spacing: 3px;
  margin: 10px auto;
  font-weight: normal;
  text-shadow: #222529;
}
.timeline-header p {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  padding: 15px;
  background-color: rgba(243, 199, 88, 0.8);
}
.timeline-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 30px auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 10px;
  background-color: var(--beige);
  border: black 3px solid;
  margin-bottom: 20px;
}

/* responsive about page */
@media only screen and (min-width: 768px) {
  .timeline::before {
    position: absolute;
    left: 52%;
    width: 3px;
    height: 100%;
    transform: translateX(-40%);
    content: '';
    background: black;
  }
  .timeline-header-title {
    font-size: 66px;
  }
  .timeline-header-subtitle {
    font-size: 40px;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translate(-20px);
    border-radius: 100px 0px 20px 20px;
    text-align: end;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translate(20px);
    border-radius: 0px 100px 20px 20px;
  }
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    right: -23px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after {
    left: -23px;
    transform: translate(-50%, -50%);
  }

  .timeline ul li:hover:after {
    background-color: var(--yellow);
    transition: 0.2s;
  }
  .timeline ul li:hover {
    opacity: 100%;
    filter: blur(0px);
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
}

/* 
/* 
ABOUT PAGE ENDS
 */

/* ARTIST PAGE STARTS */

#artist-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center center;
  background-size: cover;
}
.artist-title {
  background: var(--yellow);
}
.icon-profile {
  color: var(--dark-grey);
  font-size: 20px;
  text-align: center;
}
.left-column-wrapper-yellow {
  border: 3px solid black !important;
  height: 730px;
  background: var(--yellow);
}
.artist-country h5 {
  color: var(--yellow);
  font-family: 'bebas neue';
  letter-spacing: 0.2em;
}
.bio {
  width: 70%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}
.icon-profile:hover {
  color: var(--beige);
}

.video-wrapper {
  background-color: #222529;
  width: 100%;
  height: 300px;
  margin: auto;
}
.artist-content-wrapper {
  background-color: var(--beige);
  border: black 3px solid;
}

@media only screen and (max-width: 768px) {
  .left-column {
    display: none;
  }
  .bio {
    font-size: 12px;
  }
}

/* artist-lightbox */

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
}

.gallery-wrapper img {
  width: 100px;
  height: 100px;
}

.gallery-wrapper img:hover {
  opacity: 50%;
  cursor: pointer;
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 233, 214, 0.5);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
}

/* ARTIST PAGE ENDS */

/* MUSICIAN PAGE STARTS */

#artist-section {
  min-height: 60vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center center;
  background-size: cover;
}
.musician-title {
  background: var(--red);
}
.text-description {
  padding: 35px;
  height: 100%;
}
.icon-profile {
  color: var(--dark-grey);
  font-size: 20px;
  text-align: center;
}
.left-column-wrapper-red {
  border: 3px solid black !important;
  background: var(--red);
  height: 730px;
}
.musician-country h5 {
  color: #d64f49;
  font-family: 'bebas neue';
  letter-spacing: 0.2em;
}
.bio {
  width: 70%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}
.icon-profile:hover {
  color: var(--beige);
}

.video-wrapper {
  width: 100%;
  height: 400px;
  margin: auto;
}

/*  
MUSICIAN PAGE ENDS
 */

/* footer */
#footer {
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-green);
}
#footer a {
  color: var(--beige);
  font-size: 30px;
  padding: 20px;
}
#footer a:hover {
  color: var(--yellow);
  font-size: 30px;
  padding: 20px;
}
#footnote {
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}
