:root {
  --white: #ffffff;
  --dark-grey: #222529;
  --beige: #ece6c2;
  --red: #d64f49;
  --dark-green: #1d332c;
  --yellow: #d2a24c;
  --green: rgba(46, 89, 76);
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--dark-grey);
  background: linear-gradient(
    180deg,
    rgba(46, 89, 76, 1) 19%,
    rgba(188, 193, 122, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
}
h5 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
h1 {
  font-family: 'Bebas neue';
  font-weight: bold;
  letter-spacing: 0.1em;
}
p {
  font-family: 'bebas neue';
  font-size: 22px;
}
.btn:focus {
  box-shadow: none;
}

.yellow-btn {
  width: 250px;
  background-color: var(--yellow);
  border: black solid 3px;
  color: var(--dark-grey);
  font-family: 'bebas neue' !important;
  font-size: 23px;
  letter-spacing: 0.1rem;
  border-radius: 0;
}
.yellow-btn:hover {
  background-color: var(--dark-grey) !important;
  border: black solid 3px;
  color: var(--yellow);
}

/* Header start */
nav {
  background-color: var(--dark-grey);
  max-height: 70px !important;
  text-transform: uppercase;
  z-index: 999;
}
.btn-main {
  background-color: var(--beige);
  width: 110px;
  border: 2px solid var(--dark-grey) !important;
  color: var(--dark-grey);
  font-family: 'bebas neue';
  font-size: 21px;
}

.btn-home {
  background-color: var(--beige);
  width: 130px;
  border: 2px solid var(--dark-grey) !important;
  color: var(--dark-grey);
  font-family: 'bebas neue';
  font-size: 26px !important;
}

.btn-ticket {
  background-color: var(--yellow) !important;
}

.btn-main:hover,
.btn-ticket:hover {
  color: var(--yellow);
  background: black !important;
}
.dropdown-menu {
  background-color: var(--beige);
  font-family: 'bebas neue';
  letter-spacing: 0.1em;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--yellow);
}
/* Header end */

main {
  max-width: 100%;
  min-height: 83vh;
}

/* 
  HOME PAGE START
*/

/* Home page hero start */
#home-page-hero {
  background-image: url('../img/mountain-01.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
}
#top-hero {
  height: 83vh;
}
.moon-wrapper p {
  font-family: plaster;
  font-size: 4vw !important;
  line-height: 0.8;
}
.moon-wrapper .festival {
  font-size: 40px;
}
.mountain-message {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.mountain-title {
  font-family: plaster;
  font-size: 3vw;
  text-align: center;
  line-height: 0.8;
}
.mountain-date {
  font-family: 'bebas neue';
  font-size: 38px;
  color: var(--beige);
  text-shadow: 1px 2px 2px var(--dark-grey) !important;
}

.lineup {
  font-family: plaster;
  color: var(--beige);
  font-size: 3vw;
  text-shadow: 2px 2px 2px var(--dark-grey);
}
.lineup-p h3 {
  font-family: 'bebas neue' !important;
  font-size: 34px;
  text-shadow: 1px 2px 2px var(--dark-grey);
  letter-spacing: 0.2rem;
}
.lineup-p p {
  font-family: 'bebas neue' !important;
  font-size: 24px;
  text-shadow: 1px 2px 2px var(--dark-grey);
}
#bottom-hero {
  height: 80vh;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgba(46, 89, 76, 0) 19%,
    rgba(29, 51, 44, 1) 100%
  );
}

.day-1,
.day-2 {
  color: var(--beige);
  font-family: 'bebas neue';
  font-size: 18px;
}

/* Hero end */

/* gallery section starts*/

#carousel-section-wrapper {
  background-color: var(--dark-green);
  height: 600px;
}

.courousel-header {
  background-color: var(--beige);
  border: 3px solid black !important;
  padding: 10px 30px 30px 30px;
}

.courousel-header h1 {
  font-size: 2.5em;
}

/* gallery ends */

/*
  HOME PAGE END
*/

/*
TICKETS PAGE STARTS
 */
#tickets-section {
  min-height: 60vh;
  padding-top: 20px;
  padding-bottom: 30px;
  background-position: center center;
  background-size: cover;
}

.container-frame {
  width: 70%;
  margin: auto;
}

.ticket-title {
  border: 3px solid black !important;
  background: var(--beige);
}
.ticket-subtitle {
  border: 3px solid black !important;
  background: var(--beige);
  border-bottom: none !important;
}

.tickets-content {
  background-color: var(--beige);
  border: 3px solid black !important;
  height: auto;
}
.left-column-tickets {
  border: 3px solid black !important;
  border-right: none !important;
  height: auto;
  background-color: var(--yellow);
}

.text-description p {
  font-size: 20px;
  line-height: 1.5;
}

#saturday,
#sunday,
#weekend,
#weekend-vip,
#order-summary {
  width: 70%;
  margin: auto;
}
.day-title h5 {
  background: var(--yellow);
  font-size: 18px;
  border-bottom: #222529 solid;
}

#order-summary a {
  background: var(--yellow);
}
.counter {
  min-width: 30px !important;
}

/* PAYMENT PAGE STARTS */

.wrapper {
  margin: auto;
  padding: 50px;
  overflow: hidden;
}
.card-header {
  font-size: 22px !important;
  letter-spacing: 0.01rem;
  background-color: var(--beige);
}

.payment-container {
  margin: auto;
  font-family: 'bebas neue';
  background-color: var(--beige);
  border-radius: 0;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.01rem;
  padding: 20px;
}

.card-body input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: 0.5px 0px 0px 0px #fff !important;
  border-color: var(--yellow);
}

.row-pay {
  border: black solid 3px;
}
/* CONFIRMATION PAGE STARTS */

.card-header {
  text-align: center;
}

.icon__success i {
  color: rgb(49, 192, 109);
  line-height: 67px;
  font-size: 84px;
}

.card__msg {
  color: var(--dark-grey);
  font-size: 28px;
  font-weight: 500;
  margin-top: 50px;
}

.card__submsg {
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
}
.payment-container {
  text-align: center;
}
.name-customer {
  color: var(--dark-green);
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}
.ticket-message {
  color: var(--dark-grey);
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.confirmation-email {
  color: var(--dark-green);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.01rem;
  margin-top: 0px;
}

.total-payment {
  color: #232528;
  font-size: 50px;
}

.euro {
  font-size: 60%;
}

.payment-method {
  color: var(--dark-grey);
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.card-payment {
  background-color: rgb(245, 245, 245);
  width: fit-content;
  margin: auto;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.card-payment i {
  font-size: 40px;
  padding-bottom: 25px;
  display: inline-block;
  margin-right: 40px;
}

.card-details {
  display: inline-block;
  text-align: left;
}

.confirmation-card-type {
  color: #232528;
  font-size: 16px;
  margin-bottom: 3px;
}

.confirmation-card-number {
  color: var(--dark-grey);
  font-size: 12px;
  margin-top: 0px;
}

/*
ABOUT PAGE STARTS
 */
.about-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/mountain-01-01.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-header {
  text-align: center;
  box-sizing: border-box;
  height: auto;
  background-image: url(../img/carousel-1-01.jpeg);
  background-size: 100%;
  background-size: cover;
}
.timeline-header-title {
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
  font-family: 'bebas neue';
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

.timeline-header-subtitle {
  color: white;
  font-family: 'bebas neue';
  font-size: 30px;
  letter-spacing: 3px;
  margin: 10px auto;
  font-weight: normal;
  text-shadow: 2px 2px black;
}
.timeline-header p {
  letter-spacing: 0.05em;
  line-height: 1.2;
  padding: 15px;
  background-color: rgba(243, 199, 88, 0.8);
}
.timeline-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline ul li img:hover {
  opacity: 60%;
  cursor: pointer;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 30px auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 10px;
  background-color: var(--beige);
  border: black 3px solid;
  margin-bottom: 20px;
}

/* responsive about page */
@media only screen and (min-width: 768px) {
  .timeline::before {
    position: absolute;
    left: 52%;
    width: 3px;
    height: 100%;
    transform: translateX(-40%);
    content: '';
    background: black;
  }
  .timeline-header-title {
    font-size: 66px;
  }
  .timeline-header-subtitle {
    font-size: 40px;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translate(-20px);
    border-radius: 100px 0px 20px 20px;
    text-align: end;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translate(20px);
    border-radius: 0px 100px 20px 20px;
  }
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    right: -23px;
    transform: translate(50%, -50%);
  }
  .timeline ul li:nth-child(even)::after {
    left: -23px;
    transform: translate(-50%, -50%);
  }

  .timeline ul li:hover:after {
    background-color: var(--yellow);
    transition: 0.2s;
  }
  .timeline ul li:hover {
    opacity: 100%;
    filter: blur(0px);
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
}

/* 
/* 
ABOUT PAGE ENDS
 */

/* ARTIST PAGE STARTS */

.artist-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center center;
  background-size: cover;
}
.artist-title {
  background: var(--yellow);
}
.icon-profile {
  color: var(--dark-grey);
  font-size: 20px;
  text-align: center;
}
.left-column {
  border: 3px solid black !important;
  height: auto;
  background: var(--yellow);
}

.artist-country h5 {
  color: var(--yellow);
  font-family: 'bebas neue';
  letter-spacing: 0.2em;
}
.bio-artist {
  width: 70%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}
.bio-artist2 {
  width: 90%;
  margin: auto;
  text-align: justify;
  justify-content: center;
  text-justify: inter-word;
}

.icon-profile:hover {
  color: var(--beige);
}

.artist-content-wrapper {
  background-color: var(--beige);
  border: black 3px solid;
}

/* artist-lightbox */

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
}

.gallery-wrapper img {
  width: 100px;
  height: 100px;
}

.gallery-wrapper img:hover {
  opacity: 50%;
  cursor: pointer;
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 233, 214, 0.5);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
}

/* ARTIST PAGE ENDS */

/* MUSICIAN PAGE STARTS */

.artist-section {
  min-height: 60vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center center;
  background-size: cover;
}
.musician-title {
  background: var(--red);
}
.text-description {
  padding: 35px;
  height: 100%;
}
.icon-profile {
  color: var(--dark-grey);
  font-size: 20px;
  text-align: center;
}
.left-column-wrapper-red {
  border: 3px solid black !important;
  background: var(--red);
  height: auto;
}
.musician-country h5 {
  color: #d64f49;
  font-family: 'bebas neue';
  letter-spacing: 0.2em;
}
.bio {
  width: 90%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}
.icon-profile:hover {
  color: var(--beige);
}
.musician-content-wrapper {
  background-color: var(--beige);
  border: black solid 3px;
}
.musician-subtitle,
.musician-country {
  background-color: var(--beige);
  border: black solid 3px !important;
}
.video-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: black;
}

/*  
MUSICIAN PAGE ENDS
 */

/* footer */
.footer {
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-green);
}
.footer a {
  color: var(--beige);
  font-size: 30px;
  padding: 20px;
}
.footer a:hover {
  color: var(--yellow);
  font-size: 30px;
  padding: 20px;
}
.footnote {
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}

/* *************************** PICTURE SLIDER ******************* */

.picture_slider_row > .picture_slider_column {
  padding: 0 1px;
  /* Controling the padding between images in non-main view mode*/
}

.picture_slider_row:after {
  content: '';
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother for the clickable images of the paintings */

.picture_slider_column {
  float: left;
  width: auto;
  text-align: center;
}

/*colume container */

.picture_slider_cc {
  position: relative;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.picture_slider_cc img:hover {
  opacity: 50%;
}

/* The Modal (background) */

.picture_slider_modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */

.picture_slider_modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  /*Width of the every picture when a main view has been picked */
  max-width: 1200 px;
}

.picture_slider_mySlides {
  display: none;
}

.picture_slider_img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
  border: 2px solid black;
}

/* The Close Button */

.picture_slider_close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35 px;
  font-weight: bold;
}

.picture_slider_close:hover,
.picture_slider_close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */

.picture_slider_prev,
.picture_slider_next {
  cursor: pointer;
  position: absolute;
  top: 50%;

  width: auto;
  padding: 16 px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.picture_slider_next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a littler bit see-through */

.picture_slider_prev:hover,
.picture_slider_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.picture_slider_dotContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.picture_slider_dot1 {
  /*position:absolute;
    top:30%;
    left: 900%;*/

  z-index: 1;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
}

.picture_slider_dot2 {
  /*
    position:absolute;
    
    top:30%;
    left:850%; */

  z-index: 1;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
}

.picture_slider_dot3 {
  /*
    position:absolute;
    top: 30%;
    left:800%;*/

  z-index: 1;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
}

.picture_slider_dot4 {
  /*
    position:absolute;
    top: 30%;
    */
  z-index: 1;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
}

.picture_slider_currentPainting {
  z-index: 1;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
  background-color: rgb(165, 165, 164);
}

/*Number text */
.picture_slider_numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.picture_slider_caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16 px;
  color: white;
}

img.picture_slider_demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.picture_slider_hover-shadow {
  transition: 0.3s;
}

.picture_slider_hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
